<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Yuu App Engine App</title>
  <link rel="shortcut icon" pan-favicon href="/images/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="m-3">
    <div class="alert alert-primary" role="alert">
      <p>
        Hello <%= userEmail %>!
      </p>
      <p>
        You've successfully login-ed! The session expires in 1 min.
      </p>
    </div>
  </div>
</body>

</html>