<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Yuu App Engine App</title>
  <link rel="shortcut icon" pan-favicon href="/images/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="jumbotron m-3">
    <h1>Welcome to mypage!!</h1>
    <p class="lead text-muted">
      Hi <%= userEmail %>! You've successfully logged in. Click buttons below.
    </p>
    <p>
      <a href="/logout" class="btn btn-primary my-2">Log out</a>
    </p>
  </div>
</body>

</html>