<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Yuu App Engine App</title>
  <link rel="shortcut icon" pan-favicon href="/images/favicon.png">
</head>

<body>
  <p>test page.</p>
  <p><%= result %></p>
</body>

</html>